<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.hna"></context:component-scan>
	<context:property-placeholder location="classpath:*-Config.properties"  />

	<!-- 配置 SpringMVC 的视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

    <!-- ***************系统环境********************* -->
    <!-- 手机APP -->
    <bean id="mobileuat" class="com.hna.model.OtaConfig">
	<property name="hostIP" value="${hostIP}" />
	<property name="OTACode" value="${gs.mobile.OTACode}" />
	<property name="key" value="${gs.uat.mobile.key}" />
	<property name="restUrl" value="${gs.uat.restUrl}" />
    </bean>

	<bean id="mobilepro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.mobile.OTACode}" />
		<property name="key" value="${gs.pro.mobile.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>

    <!-- 去哪儿 -->
	<bean id="qunaruat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.qunar.OTACode}" />
		<property name="key" value="${gs.uat.qunar.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="qunarpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.qunar.OTACode}" />
		<property name="key" value="${gs.pro.qunar.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>

    <!-- 航班管家 -->
	<bean id="hbgjuat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.hbgj.OTACode}" />
		<property name="key" value="${gs.uat.hbgj.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="hbgjpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.hbgj.OTACode}" />
		<property name="key" value="${gs.pro.hbgj.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	
	<!-- 微信 -->
	<bean id="wechatuat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.wechat.OTACode}" />
		<property name="key" value="${gs.uat.wechat.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="wechatpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.wechat.OTACode}" />
		<property name="key" value="${gs.pro.wechat.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	
	<!-- 酷讯 -->
	<bean id="kuxunuat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.kuxun.OTACode}" />
		<property name="key" value="${gs.uat.kuxun.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="kuxunpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.kuxun.OTACode}" />
		<property name="key" value="${gs.pro.kuxun.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>

	<!-- 淘宝 -->
	<bean id="taobaouat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.taobao.OTACode}" />
		<property name="key" value="${gs.uat.taobao.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="taobaopro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.taobao.OTACode}" />
		<property name="key" value="${gs.pro.taobao.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	
	<!-- 同程 -->
	<bean id="tongchenguat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.tongcheng.OTACode}" />
		<property name="key" value="${gs.uat.tongcheng.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="tongchengpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.tongcheng.OTACode}" />
		<property name="key" value="${gs.pro.tongcheng.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	
	<!-- 携程 -->
	<bean id="xiechenguat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.xiecheng.OTACode}" />
		<property name="key" value="${gs.uat.xiecheng.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="xiechengpro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.xiecheng.OTACode}" />
		<property name="key" value="${gs.pro.xiecheng.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	
	<!-- 泰复-->
	<bean id="taifuuat" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.taifu.OTACode}" />
		<property name="key" value="${gs.uat.taifu.key}" />
		<property name="restUrl" value="${gs.uat.restUrl}" />
	</bean>

	<bean id="taifupro" class="com.hna.model.OtaConfig">
		<property name="hostIP" value="${hostIP}" />
		<property name="OTACode" value="${gs.taifu.OTACode}" />
		<property name="key" value="${gs.pro.taifu.key}" />
		<property name="restUrl" value="${gs.pro.restUrl}" />
	</bean>
	

</beans>
